/* estilos.css */

/* Estilo general para el cuerpo de la página */


/* Estilo para el contenedor principal */
.primary {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 25%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
.tittle {

    font-size: 2em;
    margin-bottom: 10px;
}

/* Estilo para el párrafo */
.paragraph {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilo para el input de texto */
.input-text {
    font-size: 1em;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 8px;
    width: 200px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
}

/* Ocultar las flechas de incremento y decremento en el input de tipo número */
.input-text[type="number"]::-webkit-inner-spin-button,
.input-text[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Estilo para el placeholder del input */
.input-text::placeholder {
    color: #95a5a6;
}

/* Estilo para hover y focus del input */
.input-text:hover,
.input-text:focus {
    border-color: #2980b9;
}


/* estilos.css */

/* Estilo para el botón de búsqueda */
.btc {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilo para cambiar el color de fondo al pasar el ratón */
.btc:hover {
    background-color: #45a049;
}

/* Estilo para agregar sombra al hacer clic en el botón */
.btc:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



